# Fichier .env (privé, à ne pas versionner)

# Clé secrète pour JWT
SECRET_KEY=super-secret-key-change-me

# Algorithme JWT
ALGORITHM=HS256

# Expiration du token d'accès (en minutes)
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# URL de la base de données
DATABASE_URL=postgresql://postgres:root@localhost:5432/captable

# Informations d'initialisation de l'admin
ADMIN_EMAIL=admin@captable.com
ADMIN_PASSWORD=admin123
ADMIN_ROLE=admin
ADMIN_NAME=Admin User

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
# Informations d'initialisation de la company
COMPANY_NAME=TechStartup SAS
COMPANY_AUTHORIZED_SHARES=1000000
